<?xml version="1.0" encoding="UTF-8" ?> 

<!-- mybatis mapper 파일
	- DBMS에서 실행할 SQL구문을 저장하는 XML파일 
	- namespace를 통해서 여러개의 매퍼를 구분한다
	- 테이블 당 한 개씩 만드는 것이 일반적이면 따라서 namespace를 테이블명으로 작성하면 구분이 용이하다
 	- <insert>, <select>, <update>, <delete>를 이용해서 CRUD 구문을 작성한다
 	- 각 구문은 외부에서 호출이 가능하도록 반드시 ID를 겹치지 않게 부여해야 한다
 	- parameterType : 구문을 실행하기 위해 필요한 데이터의 형태 
 	- resultType : 구문을 실행한 결과를 어떤 형태로 변환해야 하는지를 말한다
 -->

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="adopt">

	<!-- 시퀀스 번호 먼저 뽑기 -->
	<select id="sequence" resultType="int">
		select adopt_seq.nextval from dual
	</select>
	
	<!-- 입양공고 등록 기능 -->
	<insert id="write" parameterType="AdoptDto">
		insert into 
		adopt(
				adopt_no, adopt_writer, adopt_title, 
				adopt_content, adopt_end, adopt_kind, adopt_place
		) values(
					#{adoptNo}, #{adoptWriter}, #{adoptTitle},  
					#{adoptContent}, #{adoptEnd},  #{adoptKind},  #{adoptPlace}
		)
	</insert>
	
	<!-- 입양공고 전체 목록 조회 -->
	<select id="list" resultType="AdoptDto">
		select * from adopt order by adopt_no desc
	</select>
	
	<!-- 입양공고 상세보기 -->
	<select id="detail" parameterType="int" resultType="AdoptDto">
		select * from adopt where adopt_no = ${adoptNo}
	</select>
	
	<!-- 입양공고 검색 목록 -->
	<select id="searchList" parameterType="map" resultType="AdoptDto">
		select * from adopt where instr(${column}, #{keyword}) > 0
	</select>
	
	<!-- 입양공고 더보기 페이지네이션 -->
	<select id="listByPage" parameterType="map" resultType="AdoptListFileVO">
	        select * from(
            select rownum rn2, tmp.* from(
                select * from (
                    select * from (
                        select I.*, row_number() over(partition by adopt_no order by adopt_no asc
                    ) rn  from adopt_img I 	
                ) where rn = 1
             ) AI left outer join adopt A  on A.adopt_no = AI.adopt_no
             	<if test="column != null and keyword != null">
				   where instr(${column}, #{keyword}) > 0
			     </if>
            order by A.adopt_no desc
          )tmp
        )where rn2 between #{startRow} and #{endRow}
	</select>
	
	<!-- 단일조회 + 검색 -->
	<select id="detailOrSearch" parameterType="map" resultType="AdoptDto">
		select * from adopt
		<where>
			<if test="adoptNo != null">
				and adopt_no = #{adoptNo}
			</if>
			<if test="column != null and keyword != null">
				and instr(${column}, #{keyword}) > 0
	        </if>
        </where>
		order by adopt_no desc
	</select>
	
	<!-- 입양공고 수정 -->
	<update id="edit" parameterType="AdoptDto" >
		update adopt
			<set>
				<if test="adoptTitle != null">
					adopt_title = #{adoptTitle},
				</if>
				<if test="adoptEnd != null">
					adopt_end = #{adoptEnd},
				</if>
				<if test="adoptKind != null">
					adopt_kind = #{adoptKind},
				</if>
				<if test="adoptPlace != null">
					adopt_place = #{adoptPlace},
				</if>	
				<if test="adoptContent != null">
					adopt_content = #{adoptContent},
				</if>
			</set>
		where adopt_no = #{adoptNo}
	</update>
	
	<!-- 입양공고 삭제 -->
	<delete id="delete" parameterType="int">
		delete adopt where adopt_no = #{adoptNo}
	</delete>
	
	
	<!-- 조회수 -->
	<update id="readUp" parameterType="map">
		update adopt set adopt_read = adopt_read +1 where adopt_no = #{adoptNo}
	</update>
	
	
	<!-- 목록에서 이미지파일을 보여주기 위한 구문 -->
	<select id="imgList" resultType="AdoptListFileVO">
		select * from adopt inner join adopt_img on adopt.adopt_no = adopt_img.adopt_no
	</select>
	
	<!-- 입양완료 처리. 제목 변경 -->
	<select id="editTitle" parameterType="map">
		update adopt set adopt_title = #{adoptTitle} where adopt_no = #{adoptNo}
	</select>
	
</mapper>

