<?xml version="1.0" encoding="UTF-8" ?>

<!-- 
	myBatis 매퍼 파일
	- DBMS에서 실행할 SQL 구문을 저장하는 XML 파일
	- namespace를 통해서 여러 개의 매퍼를 구분한다
	- 테이블 당 1개씩 만드는 것이 일반적이며, 따라서 namespace를 테이블명으로 작성하면 구분이 용이하다.
	- <insert> , <select> , <update> , <delete>를 이용해서 CRUD 구문을 작성한다.
	- 각 구문은 외부에서 호출이 가능하도록 반드시 ID를 겹치지 않게 부여해야 한다.
	- parameterType 은 구문을 실행하기 위해 필요한 데이터의 형태를 말한다.
	- resultType은 구문을 실행한 결과를 어떤 형태로 변환해야 하는지를 말한다.
 -->

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="donationReply">
	
	<!-- 시퀀스 -->
	<select id="seq" resultType="int">
		select donation_reply_seq.nextval from dual
	</select>

	<!-- donation_reply_no, member_id, donation_no, donation_reply_content, donation_reply_time,
			donation_reply_superno, donation_reply_groupno, donation_reply_depth -->
	<!-- 댓글 작성 -->
	<insert id="insert" parameterType="DonationReplyDto">
		insert into donation_reply values( donation_reply_seq.nextval,
			#{memberId}, ${donationNo}, #{donationReplyContent},
			sysdate
		)
		
	</insert>	
	
	<select id="list" resultType="DonationReplyDto">
		select * from donation_reply
	</select>
	
	<!-- 댓글 삭제 -->	
	<delete id="delete" parameterType="int">
		delete from donation_reply where donation_reply_no = ${donationReplyNo}
	</delete>
		
	<!-- 특정 게시글의 댓글 내용만 조회 -->
	<select id="listByDetail" parameterType="int" resultType="DonationReplyDto">
		select * from donation_reply where donation_no = ${donationNo}
	</select>

	
	<!-- 더보기 페이지네이션 -->
	<select id="listByPage" parameterType="map" resultType="DonationReplyDto">
		select * from(
		    select rownum rn, tmp.* from(
		        	select * from donation_reply where donation_no=#{donationNo}
		        order by donation_reply_no desc
		        )tmp
		)where rn between ${startRow} and ${endRow}
	</select>
	
	<select id="count"  parameterType="int" resultType="int">
		 select count(*) from donation_reply where donation_no=#{donationNo}
	</select>
	
	
</mapper>









