<?xml version="1.0" encoding="UTF-8" ?> 

<!-- mybatis mapper 파일
	- DBMS에서 실행할 SQL구문을 저장하는 XML파일 
	- namespace를 통해서 여러개의 매퍼를 구분한다
	- 테이블 당 한 개씩 만드는 것이 일반적이면 따라서 namespace를 테이블명으로 작성하면 구분이 용이하다
 	- <insert>, <select>, <update>, <delete>를 이용해서 CRUD 구문을 작성한다
 	- 각 구문은 외부에서 호출이 가능하도록 반드시 ID를 겹치지 않게 부여해야 한다
 	- parameterType : 구문을 실행하기 위해 필요한 데이터의 형태 
 	- resultType : 구문을 실행한 결과를 어떤 형태로 변환해야 하는지를 말한다
 -->

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="noticeImg">

	<!-- 파일 저장용 번호 시퀀스 -->
	<select id="sequence" resultType="int">
		select notice_img_seq.nextval from dual
	</select>
	
	<!-- 파일 저장 : 먼저 조회하여 뽑은 시퀀스를 파일번호로 등록 -->
	<insert id="save" parameterType="NoticeImgDto">
		insert into notice_img values(
			#{noticeImgNo}, #{noticeNo}, #{noticeImgUpload},
			 #{noticeImgSize}, #{noticeImgType}
		)
	</insert>
	
	<!--  파일 정보 단일 조회 -->
	<select id="get" parameterType="int" resultType="NoticeImgDto">
		select * from notice_img where notice_no=#{noticeNo}
	</select>
	
	<!-- 파일 정보 리스트 조회 -->
	<select id="getList" parameterType="int" resultType="NoticeImgDto">
		select * from notice_img where notice_no=#{noticeNo} 
			order by notice_img_no asc
	</select>	
	
	<!-- 파일 다운로드용 조회 -->
	<select id="getFile" parameterType="int" resultType="NoticeImgDto">
		select * from notice_img where notice_img_no=#{noticeImgNo}
	</select>
	
	<!-- 게시글 수정시 파일만 삭제 -->
	<delete id="dropImg" parameterType="int">
		delete notice_img where notice_img_no = #{noticeImgNo}
	</delete>

	<!-- 게시판 번호로 조회한 모든 이미지파일의 번호 -->
	<select id="getImgNoList" parameterType="int" resultType="int">
		select notice_img_no from notice_img where notice_no = #{noticeNo}
	</select>
	
</mapper>

